<div class="blog_post">
	<div class="info">
		<span class="tags">
			<% post.tags.each do |t| %>
				<a href="<%= tag_url t %>"><%= t.name %></a>
			<% end %>
		</span>
		<span class="date"><%= post.created.strftime "%B %d, %Y" %></span>
	</div>
	<div class="content">
		<h1><%= post.title %></h1>
		<%= post.body %>
	</div>
	
	<!--<hr />
	
	<%# form("/login", :post) do %>
		<p>Username: <input type="text" name="username"></p>
		<p>Password: <input type="password" name="password"></p>
	<%# end %>-->
</div>