<div class="blog_post">
	<span class="meta link"><%= post_url post %></span>
	<div class="info">
		<span class="tags">
			<% post.tags.each do |t| %>
				<a href="/tag/<%= t.name.downcase %>"><%= t.name %></a>
			<% end %>
		</span>
		<span class="date"><%= post.created.strftime "%B %d, %Y" %></span>
	</div>
	<div class="content">
		<%= post.body %>
	</div>
</div>