<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	>

<channel>
	<title>Sean Clark Hess - <%= @rss_type %></title>
	<atom:link href="<%= request.url %>" rel="self" type="application/rss+xml" />
	<link><%= full_url @rss_link %></link>
	<description>Code, Business, Tech, and Life from Sean Clark Hess</description>
	
	<!--Fri, 19 Jun 2009 07:28:22 +0000-->
	<pubDate><%= rss_date Time.now %></pubDate><!--  -->
	<generator>Manual</generator>
	<language>en</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>

	<%= yield %>
	
</channel>
</rss>
